@import url('https://fonts.googleapis.com/css?family=Amaranth|Open+Sans');
$header-font: 'Amaranth', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
$main-color: #342933;
$additional-color: #9D8274;

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: beige;
  background-image: url("https://images.unsplash.com/photo-1478809846154-d4ca173df3e0?ixlib=rb-0.3.5&s=a5a518df7e4887e2af05a974dd4ded83&auto=format&fit=crop&w=1633&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  display: flex;
  height: 100vh;

  .main-header {
    font-family: $header-font;
    color: $main-color;
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
  }

  .sub-header {
    margin-top: 0;
    font-family: $paragraph-font;
    font-weight: 400;
    color: $main-color;
    font-size: 24px;
  }

  .main-input {
    margin-top: 40px;
    border: 2px solid $main-color;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .main-btn {
    width: 200px;
    padding: 6px;
    margin: 40px;
    border-radius: 15px;
    border: 2px solid $main-color;
    font-family: $paragraph-font;
    font-size: 18px;
    font-weight: 300;
    background-color: $main-color;
    color: #fff;

    &:active,
    &:hover {
      background-color: $additional-color;
      color: $main-color;
    }

    &:active {
      box-shadow: 2px 3px $main-color;
      transform: translateY(4px);
    }
  }
}

.list {
  width: 50%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
  background-color: beige;
  border: 1px solid $additional-color;
  display: flex;

  .list-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-family: $header-font;
    font-size: 30px;
    font-weight: 600;
  }

  .list-countries {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 50px;
    font-family: $paragraph-font;
    font-size: 16px;
  }

  .flag {
    width: 20%;
    margin-top: 30px;
  }

  h3 {
    font-family: $header-font;
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
  }
}

footer {
  font-family: $paragraph-font;
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  color: #fff;
  background-color: $additional-color;
  p {
    margin: 0;
  }
}
